### Importing Libraries

In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = None
pd.options.display.max_rows = None

from fuzzywuzzy import fuzz

np.random.seed(24)

C:\Users\kondavee\AppData\Local\Continuum\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

### Fetching Data

In [3]:
reference_df = pd.read_excel('C:\\Users\\kondavee\\Desktop\\myRepo\\Personal\\Juniper\\Data-for-Ex1-restaurant-nophone.xlsx', sheetname='reference')
query_df = pd.read_excel('C:\\Users\\kondavee\\Desktop\\myRepo\\Personal\\Juniper\\Data-for-Ex1-restaurant-nophone.xlsx', sheetname='query')

C:\Users\kondavee\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [4]:
query_df.head()

,id,name,address,city,cuisine,reference_id,score(optional)
0,1001,chanterelle,2 harrison st.,new york city,french (new),31.0,70.0
1,1002,daniel,20 e. 76th st.,new york city,french (new),32.0,90.0
2,1003,dawat,210 e. 58th st.,new york city,indian,33.0,90.0
3,1004,felidia,243 e. 58th st.,new york city,italian,NaN,NaN
4,1005,four seasons,99 e. 52nd st.,new york city,american (new),NaN,NaN

In [5]:
reference_df.head()

,id,name,address,city,cuisine
0,1,arnie morton's of chicago,435 s. la cienega blv.,los angeles,american
1,2,art's delicatessen,12224 ventura blvd.,studio city,american
2,3,hotel bel-air,701 stone canyon rd.,bel air,californian
3,4,cafe bizou,14016 ventura blvd.,sherman oaks,french
4,5,campanile,624 s. la brea ave.,los angeles,american

### Query Checker Function

In [6]:
def checker_func(reference_df, query_df):
    """
    Function that takes records from “query” set and finds matching record in the “reference” set.

    :param reference_df: Reference DataFrame
    :param query_df: Quereyed DataFrame.
    :return: resultant DataFrame.
    """
    
    final_df= pd.DataFrame()
    for idx, row in query_df.iterrows():
        name = row['name']
        add = str(row['address']).strip()
        city = str(row['city']).strip()
        cuisine = str(row['cuisine']).strip()

        df_ref = reference_df[reference_df['name'] == name]

        for idx, row_ref in df_ref.iterrows():
            ref_add = str(row_ref['address']).strip()
            ref_city = str(row_ref['city']).strip()
            ref_cuisine = str(row_ref['cuisine']).strip()
            score_add = fuzz.token_set_ratio(add.lower(),ref_add.lower())
            score_city = fuzz.token_set_ratio(city.lower(),ref_city.lower())
            score_cuisine = fuzz.token_set_ratio(cuisine.lower(),ref_cuisine.lower())
            final_score = (score_add + score_city + score_cuisine)/3
            temp = pd.DataFrame({'id': [row['id']] ,'name': [name], 'address': [add], 'city': [city], 'cuisine': [cuisine], 'reference_id': [row_ref['id']],'score': final_score})
            final_df = final_df.append(temp)
    final_df = final_df.reset_index(drop=True)
    return final_df

In [7]:
result_df = checker_func(reference_df, query_df)

### Results

In [8]:
result_df

,id,name,address,city,cuisine,reference_id,score
0,1001,chanterelle,2 harrison st.,new york city,french (new),31,74.000000
1,1002,daniel,20 e. 76th st.,new york city,french (new),32,100.000000
2,1003,dawat,210 e. 58th st.,new york city,indian,33,85.000000
3,1004,felidia,243 e. 58th st.,new york city,italian,34,100.000000
4,1006,gotham bar & grill,12 e. 12th st.,new york city,american (new),36,100.000000
5,1007,gramercy tavern,42 e. 20th st.,new york city,american (new),37,100.000000
6,1008,island spice,402 w. 44th st.,new york city,caribbean,38,100.000000
7,1009,jo jo,160 e. 64th st.,new york city,french bistro,39,73.000000
8,1010,la caravelle,33 w. 55th st.,new york city,french (classic),40,100.000000
9,1011,la cote basque,60 w. 55th st.,new york city,french (classic),41,100.000000
10,1012,le bernardin,155 w. 51st st.,new york city,seafood,42,71.666667
11,1013,les celebrites,155 w. 58th st.,new york city,french (classic),43,77.333333
12,1015,lutece,249 e. 50th st.,new york city,french (classic),45,100.000000
13,1016,manhattan ocean club,57 w. 58th st.,new york city,seafood,46,100.000000
14,1017,march,405 e. 58th st.,new york city,american (new),47,100.000000
15,1018,mesa grill,102 fifth ave.,new york city,southwestern,48,66.666667
16,1019,mi cocina,57 jane st.,new york city,mexican,49,100.000000
17,1020,montrachet,239 w. broadway,new york city,french bistro,50,100.000000
18,1021,oceana,55 e. 54th st.,new york city,seafood,51,100.000000
19,1023,petrossian,182 w. 58th st.,new york city,russian,53,77.000000
20,1024,picholine,35 w. 64th st.,new york city,mediterranean,54,100.000000
21,1025,pisces,95 ave. a,new york city,seafood,55,100.000000
22,1026,rainbow room,30 rockefeller plaza,new york city,american (new),56,93.333333
23,1027,river cafe,1 water st.,brooklyn,american (new),57,100.000000
24,1028,san domenico,240 central park s.,new york city,italian,58,100.000000
25,1029,second avenue deli,156 second ave.,new york city,delis,59,75.333333
26,1030,seryna,11 e. 53rd st.,new york city,japanese,60,82.000000
27,1032,sign of the dove,1110 third ave.,new york city,american (new),62,91.000000
28,1033,smith & wollensky,797 third ave.,new york city,steakhouses,63,53.000000
29,1034,tavern on the green,central park west,new york city,american (new),64,94.333333
30,1035,uncle nick's,747 ninth ave.,new york city,greek,65,64.000000
31,1036,union square cafe,21 e. 16th st.,new york city,american (new),66,100.000000
32,1038,chin's,3200 las vegas blvd. s.,las vegas,chinese,68,77.666667
33,1041,palace court,3570 las vegas blvd. s.,las vegas,french (new),71,73.000000
34,1045,abruzzi,2355 peachtree rd. ne,atlanta,italian,75,97.333333
35,1046,bacchanalia,3125 piedmont rd.,atlanta,californian,76,72.333333
36,1048,brasserie le coze,3393 peachtree rd.,atlanta,french bistro,78,100.000000
37,1049,buckhead diner,3073 piedmont rd.,atlanta,american (new),79,98.000000
38,1051,delectables,1 margaret mitchell sq.,atlanta,cafeterias,81,85.333333
39,1052,georgia grille,2290 peachtree rd.,atlanta,southwestern,82,76.666667
40,1054,heera of india,595 piedmont ave.,atlanta,indian,84,85.000000
41,1055,indigo coastal grill,1397 n. highland ave.,atlanta,eclectic,85,70.666667
42,1056,la grotta,2637 peachtree rd. ne,atlanta,italian,86,97.333333
43,1057,mary mac's tea room,224 ponce de leon ave.,atlanta,southern/soul,87,100.000000
44,1058,nikolai's roof,255 courtland st.,atlanta,continental,88,100.000000
45,1063,toulouse,293-b peachtree rd.,atlanta,french (new),93,100.000000
46,1064,veni vidi vici,41 14th st.,atlanta,italian,94,100.000000
47,1065,alain rondelli,126 clement st.,san francisco,french (new),95,100.000000
48,1066,aqua,252 california st.,san francisco,american (new),96,70.333333
49,1067,boulevard,1 mission st.,san francisco,american (new),97,100.000000
50,1068,cafe claude,7 claude ln.,san francisco,french bistro,98,97.000000
51,1069,campton place,340 stockton st.,san francisco,american (new),99,100.000000
52,1070,chez michel,804 north point st.,san francisco,californian,100,66.666667
53,1071,fleur de lys,777 sutter st.,san francisco,french (new),101,100.000000
54,1072,fringale,570 fourth st.,san francisco,french bistro,102,92.666667
55,1073,hawthorne lane,22 hawthorne st.,san francisco,californian,103,77.333333
56,1074,khan toke thai house,5937 geary blvd.,san francisco,thai,104,81.333333
57,1075,la folie,2316 polk st.,san francisco,french (new),105,100.000000
58,1077,masa's,648 bush st.,san francisco,french (new),107,100.000000
59,1079,plumpjack cafe,3127 fillmore st.,san francisco,american (new),109,78.666667
60,1080,postrio,545 post st.,san francisco,californian,110,77.333333
61,1082,rose pistola,532 columbus ave.,san francisco,italian,112,100.000000

In [ ]:
result_df.to_excel("Result_Data_Ex1_Restaurant.xlsx")